## Working with Python Variables.

Sttructure of creating a variable:
[variable_name] [assignment operator] [value]
myVar = "blah"

### What are the data types in python
1. String - anything inside of "" or ''
2. Boolean - True/False
3. Integer - Whole numbers, even or odd
4. Float - any number with a decimal.

In [3]:
# Variable Reassignment

# A student's GPA throughout high school
student_gpa = 3.2 # Freshman year

student_gpa = 3.4 # Sophomore year

student_gpa = 3.7 # Junior year

student_gpa = 3.9 # Senior year
print(student_gpa)

# OUTPUT: 3.9

#If you need to store all data
student_gpa_Fr = 3.2 # Freshman year

student_gpa_So = 3.4 # Sophomore year

student_gpa_Ju = 3.7 # Junior year

student_gpa_se = 3.9 # Senior year
print(student_gpa)

3.9
3.9

In [4]:
# Sports Team Statistics

#Basketball Team Variables
team_name = "Riverside Ravens"
wins = 18
losses = 7
points_scored = 1456
point_allowed = 1298
leading_scorer = "Jordan Thompson"
average_point_per_game = 58.2
championship_contender = True

print(championship_contender)

True

In [2]:
# the input function

#input("Enter your first name: ") #this line isn't being stored anywhere, so it doesn't work correctly.

first_name = input("Enter your first name: ")

print(first_name)

Mason

## 4 Main Computational Processes

- Input
- Output
- Processing
- Storage (Memory)

## Strings, Assignments, and Comments

Data Types - consists of a set of values and a set of operations that can be performed on those values.

A **Literal** - is the way a value of a data type looks to a programmer

<table>
    <tr>
        <th>Type of Data</th>
        <th>Python Type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr>
        <td>Integers</td>
        <td>int</td>
        <td>-1, 0, 1, 365, -1457324</td>
    </tr>
    <tr>
        <td>Real Numbers</td>
        <td>float</td>
        <td>-0.55, .3333, 3.14, 6.0, .5, 5.</td>
    </tr>
    <tr>
        <td>Character Strings</td>
        <td>str</td>
        <td>"Hello", "", " ", 'A', "675"</td>
    </tr>
</table>

In [1]:
hello = 'Hello there!'
myInt = 675
print(hello) # Literal is: Hello there!
print(myInt) # Literal is: 675

Hello there!
675

## Escape Sequences

**Escape Sequence** - the way Python expresses special characters, such as the tab, the newline, and the backspace as literals

<table>
    <tr>
    <th>Escape Sequence</th>
    <th>Meaning</th>
    </tr>
    <tr>
    <td>\b</td>
    <td>Backspace</td>
    </tr>
    <tr>
    <td>\n</td>
    <td>Newline</td>
    </tr>
    <tr>
    <td>\t</td>
    <td>Horizontal Tab</td>
    </tr>
    <tr>
    <td>\\</td>
    <td>the \ character</td>
    </tr>
    <tr>
    <td>\'</td>
    <td>Single quotation mark</td>
    </tr>
    <tr>
    <td>\"</td>
    <td>Double quotation mark</td>
    </tr>
</table>

## Initializing a variable or constant

**Initializing** - This is the process of creating a variable and setting to a default value

## Formatting text for output

This process is for presenting required output in tabular format.
**Field Width** - The total number of data characters and additional spaces for a given datum in a formatted string
% = format operator

In [1]:
for exponent in range (7,11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [ ]:
% = the format operator = format stringprint("four")
print('%6s' % 'four') 
print("%-6s" % "four")
    # % = format operator

four
  four
four

## Define Iteration

Repeating an action or process a predefined number of times. Also known as a specific type of iteration: **Definite Iteration** 

Perform an action or process until the program determines that it needs to stop: **Indefinite**

#### Each of these Iterations uses a different type of Loop

Definite Iteration --> for Loop
Indefinite Iteration --> while Loop

In [1]:
# Execute a Statement a Given Number of Times

for eachPass in range(4): # Iterate through the contained code 4 times
    print("It's alive!", end = " ")
    #Each time through the loop, counting 0-3
    #print It's alive! followed by a blank space

It's alive! It's alive! It's alive! It's alive!

## The structure of a for loop

for (variable) in range(an integer expression):<br>&nbsp;&nbsp;&nbsp;&nbsp;
    repeat any number of statements.
    

**loop header** - the line that starts with 'for'
**loop body** - comprises the statements in the remaining lines code, below the header

## Python's exponation operator