## Working with Python Variables.

Sttructure of creating a variable:
[variable_name] [assignment operator] [value]
myVar = "blah"

### What are the data types in python
1. String - anything inside of "" or ''
2. Boolean - True/False
3. Integer - Whole numbers, even or odd
4. Float - any number with a decimal.

In [4]:
# Variable Reassignment

# A student's GPA throughout high school
student_gpa = 3.2 # Freshman year

student_gpa = 3.4 # Sophomore year

student_gpa = 3.7 # Junior year

student_gpa = 3.9 # Senior year
print(student_gpa)

# OUTPUT: 3.9

#If you need to store all data
student_gpa_Fr = 3.2 # Freshman year

student_gpa_So = 3.4 # Sophomore year

student_gpa_Ju = 3.7 # Junior year

student_gpa_se = 3.9 # Senior year
print(student_gpa)

3.9
3.9

In [5]:
# Sports Team Statistics

#Basketball Team Variables
team_name = "Riverside Ravens"
wins = 18
losses = 7
points_scored = 1456
point_allowed = 1298
leading_scorer = "Jordan Thompson"
average_point_per_game = 58.2
championship_contender = True

print(championship_contender)

True

In [6]:
# the input function

#input("Enter your first name: ") #this line isn't being stored anywhere, so it doesn't work correctly.

first_name = input("Enter your first name: ")

print(first_name)

.

## 4 Main Computational Processes

- Input
- Output
- Processing
- Storage (Memory)

## Strings, Assignments, and Comments

Data Types - consists of a set of values and a set of operations that can be performed on those values.

A **Literal** - is the way a value of a data type looks to a programmer

<table>
    <tr>
        <th>Type of Data</th>
        <th>Python Type Name</th>
        <th>Example Literals</th>
    </tr>
    <tr>
        <td>Integers</td>
        <td>int</td>
        <td>-1, 0, 1, 365, -1457324</td>
    </tr>
    <tr>
        <td>Real Numbers</td>
        <td>float</td>
        <td>-0.55, .3333, 3.14, 6.0, .5, 5.</td>
    </tr>
    <tr>
        <td>Character Strings</td>
        <td>str</td>
        <td>"Hello", "", " ", 'A', "675"</td>
    </tr>
</table>

In [7]:
hello = 'Hello there!'
myInt = 675
print(hello) # Literal is: Hello there!
print(myInt) # Literal is: 675

Hello there!
675

## Escape Sequences

**Escape Sequence** - the way Python expresses special characters, such as the tab, the newline, and the backspace as literals

<table>
    <tr>
    <th>Escape Sequence</th>
    <th>Meaning</th>
    </tr>
    <tr>
    <td>\b</td>
    <td>Backspace</td>
    </tr>
    <tr>
    <td>\n</td>
    <td>Newline</td>
    </tr>
    <tr>
    <td>\t</td>
    <td>Horizontal Tab</td>
    </tr>
    <tr>
    <td>\\</td>
    <td>the \ character</td>
    </tr>
    <tr>
    <td>\'</td>
    <td>Single quotation mark</td>
    </tr>
    <tr>
    <td>\"</td>
    <td>Double quotation mark</td>
    </tr>
</table>

## Initializing a variable or constant

**Initializing** - This is the process of creating a variable and setting to a default value

## Formatting text for output

This process is for presenting required output in tabular format.
**Field Width** - The total number of data characters and additional spaces for a given datum in a formatted string
% = format operator

In [8]:
for exponent in range (7,11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

In [9]:
% = the format operator = format stringprint("four")
print('%6s' % 'four') 
print("%-6s" % "four")
    # % = format operator

UsageError: Line magic function `%` not found.

## Define Iteration

Repeating an action or process a predefined number of times. Also known as a specific type of iteration: **Definite Iteration** 

Perform an action or process until the program determines that it needs to stop: **Indefinite**

#### Each of these Iterations uses a different type of Loop

Definite Iteration --> for Loop
Indefinite Iteration --> while Loop

In [ ]:
# Execute a Statement a Given Number of Times

for eachPass in range(4): # Iterate through the contained code 4 times
    print("It's alive!", end = " ")
    #Each time through the loop, counting 0-3
    #print It's alive! followed by a blank space

It's alive! It's alive! It's alive! It's alive!

## The structure of a for loop

for (variable) in range(an integer expression):<br>&nbsp;&nbsp;&nbsp;&nbsp;
    repeat any number of statements.
    

**loop header** - the line that starts with 'for'
**loop body** - comprises the statements in the remaining lines code, below the header

## Python's exponation operator

In [ ]:
# Exponent Example

number = 2
exponent = 3
product = 1

print("\n The variable product is now ", product)

for eachPass in range(exponent):
    product = product * number
    print(product, end = " ")
    
print("\n The variable product is now ", product)

 The variable product is now  1
2 4 8
 The variable product is now  8

## count-controlled loops

**Count=controlled Loops** - Loops that count through a range of numbers

In [ ]:
for count in range(4):
    print(count, end = " ")

0 1 2 3

In [ ]:
product = 1 # Initializing a counter

for count in range(4):
    product = product * (count + 1) # Off by 1 error
    print(product, end = " ")

print(product)

1 2 6 24 24

## Loop through a range of numbers:

In [ ]:
product = 1
for count in range(1, 5): #(1, 5 ) - start on 1, 1 is the first numebr in the sequence
                          #5 is the first number NOT in the sequence
    product = product * count
    print(product, end = " ")

print("\n\n", product)

1 2 6 24

 24

## Loop head structure with upper and lower bounds
for (variable) in range (lower bound, upper bound + 1):

In [ ]:
lower = int(input("Enter the lower bound: "))
upper = int(input("Enter the upper bound"))

theSum = 0 # Notice, we create thesum, because sum is a python keyword

for number in range(lower, upper + 1):
    theSum = theSum + number

print(theSum)

26

## Augmented assignment

**Augmented assignment** - when the assignment symbol can be combined with the arithmetic and concatenation operators.

structure:
(variable) (operator) = (expression)

In [ ]:
a = 17
s = "hi"
a += 3 #equivelant to a = a + 3
print(a)

a *= 3 # equivelant to a = a * 3
print(a)

a %= 3 #equivelant to a = a % 3
print(a)

20

In [ ]:
s += " there!" # equivelant to s = s + " there!"
print(s)

hi there!

## Loop Errors: Off-by-one- Error

**Off-by-One Error** - these are errors that result when programmer incorrectly specifies the upper bound for a loop.

In [ ]:
# count from 1 through 4, we think
for count in range (1, 4):
    print(count)

1
2
3

## Traversing the Contents of a data sequence

In [ ]:
print(list(range(4)))
print(list(range(1, 5)))

[0, 1, 2, 3]
[1, 2, 3, 4]

In [ ]:
# Use something other than the range function in the loop head
for number in (6, 4, 8):
    print(number, end=" ")

6 4 8

In [ ]:
for character in "Hi there!":
    print(character, end=" ")

H i   t h e r e !

## Specifying the steps in the range

Another variant of the python range() function allows us to enter 3 values as arguments.

range(val1, val2, val3)

val1 - Is the first value in the range, starting value

val2 - The first value NOT in the range. (val2 - 1)

val3 - The step value - is the interval between the numbers used in the range

In [ ]:
print(list(range(1, 6, 1))) # [1, 2, 3, 4, 5]
print(list(range(1, 6, 2))) # [1, 3, 5]
print(list(range(1, 6, 3))) # [1, 4]

[1, 2, 3, 4, 5]
[1, 3, 5]
[1, 4]

In [ ]:
# let's suppose we want to cimpute a sum of the even numbers between 1 and 10.
theSum = 0
for count in range(2, 11, 2):
    theSum += count

print(theSum)

30

## Loops That Count Down

* Until now, we have been counting up based on what our range is.

In [ ]:
for count in range(10, 0, -1):
    print(count, end = " ")
# To count down, use negatives. 0 is also the first number not included in this list.

10 9 8 7 6 5 4 3 2 1

In [ ]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Back to formatting text for output

In [ ]:
for exponent in range (7, 11):
    print(exponent, 10 ** exponent)

7 10000000
8 100000000
9 1000000000
10 10000000000

### Format String and Format Operator

In [ ]:
# <format string> % <datum>

for exponent in range(7, 11):
    print("%-3d%12d" % (exponent, 10 ** exponent))
    # %-3d = first column of the data output - go -3 spaces back from where the first and second column meet - the field justify left
    # %12d = second column in the data output will be 12 characters wide (the Field Width), everything in the field will justify right

7      10000000
8     100000000
9    1000000000
10  10000000000

In [ ]:
salary = 100.00
print("Your salary is $" + str(salary))
print("Your salary is $ %0.2f" % salary)

Your salary is $100.0
Your salary is $ 100.00

In [ ]:
print("%6.3f" % 3.14)
# 6 total digits, with 3 digits after the decimal

 3.140

## Python if-else statements

if and if-else staments are "Branching" statements. They allow Python to examine or test a condition. Based on the results of that test, your code translation will branch in one direction or another. Analogy: Think of a fork in the road. You can go left or right

It is also known as a selection statement.

### How does Python test a conditional

Python uses Booleans to test conditions. 
if 2 + 3 == 5: 
    run some code...
else:
    run some other code...

Python will use simple comparison operators to do this:

- ==  Equals
- !=  Not Equals
- <   Less than
- \>    Greater than
- <=  Less than or equal
- \>=  Greater than or equal

In [ ]:
print(4 == 4)
print(4 == 7)
print(4 != 4)
print(4 > 5)
print(4 >= 3)
print("A" < "B")

True
False
False
False
True

In [ ]:
# Python if-else statement example
import math
area = float(input("Enter the area: "))

if area > 0:
    radius = math.sqrt(area / math.pi) # run a sequence of <statements>
    print("The radius is", radius)
else: # OTHERWISE
    print("Error: The area must be a positive number.") # run THIS sequence of <statements>

The radius is 1.4927053303604616

In [ ]:
# This example prints the minimum and maximum of two input numbers
first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))

if first > second:
    maximum = first
    minimum = second
else:
    maximum = second
    minimum = first

print("Maximum: ", maximum)
print("Minimum: ", minimum)

ValueError: invalid literal for int() with base 10: ''

## Python min and max functions

In [ ]:
# min() and max() will eliminate need for if-else
first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))
print("Maximum: ", max(first, second))
print("Minimum: ", min(first, second))

## One-way Selection Statement

In [ ]:
x = 25
if x < 0:
    x = -x

print(x)

25

## Multi-Way if statements

In [ ]:
number = int(input("Enter the numeric grade: "))
if number > 89:
    letter = 'A'
elif number > 79;
    letter = 'B'
elif number > 69:
    letter = 'C'
else:
    letter = 'F'

print("The letter grade is: ", letter)

SyntaxError: invalid syntax (3312394977.py, line 4)

## Logical Operators and Compound Boolean Expressions

Often times in the course of a Python script interpretation, we may have to check to see if 2 or more conditional statements are true before running a sequence of code.

In [ ]:
number = int(input("Enter the numeric grade: "))
if number > 100:
    print("ERROR: grade must be between 100 and 0.")
elif number < 0:
    print("ERROR: number must be between 100 and 0")
else:
    # Run the same code as the example above
    print("")

### Compund Boolean Expressions

Testing multiple conditions at the same time

To do this we use **Logical Operators**:

- and
- or
- not

In [ ]:
number = int(input("Enter the numeric grade: "))
if number > 100 or number < 0: # Using the or logic operator
    print("ERROR: number must be between 100 and 0")
else:
    print("The code from above.")

if number <= 0 and number >= 100:
    print("The code from above")
else:
    print("Error")

ERROR: number must be between 100 and 0
Error

## Truth tables
<h2>and Table</h2>
<table>
<tr>
    <th>A</th>
    <th>B</th>
    <th>A and B</th>
</tr>
<tr>
    <td>True</td>
    <td>True</td>
    <td>True</td>
</tr>
<tr>
    <td>True</td>
    <td>False</td>
    <td>False</td>
</tr>
<tr>
    <td>False</td>
    <td>True</td>
    <td>False</td>
</tr>
<tr>
    <td>False</td>
    <td>False</td>
    <td>False</td>
</tr>
</table>
<br>
<h2>or Table</h2>
<table>
<tr>
    <th>A</th>
    <th>B</th>
    <th>A or B</th>
</tr>
<tr>
    <td>True</td>
    <td>True</td>
    <td>True</td>
</tr>
<tr>
    <td>True</td>
    <td>False</td>
    <td>True</td>
</tr>
<tr>
    <td>False</td>
    <td>True</td>
    <td>True</td>
</tr>
<tr>
    <td>False</td>
    <td>False</td>
    <td>False</td>
</tr>
</table>

<h2>not Table</h2>
<table>
<tr>
<th>A</th>
<th>not A</th>
</tr>
<tr>
    <td>True</td>
    <td>False</td>
</tr>
<tr>
    <td>False</td>
    <td>True</td>
</tr>
</table>

## Short-Circuit Evaluation

Python sometimes knows the value of a Boolean expression before it has evaluated all of the operands. For instance, in the expression A and B, if A is false, then so is the expression, and there is no need to evaluate B

In [ ]:
count = int(input("Enter the count: "))
theSum = int(input("Enter the sum: "))
if count > 0 and theSum // count > 10:
    print("Average > 10")
else:
    print("count = 0 or average <= 10")

count = 0 or average <= 10

## Conditional Iteration: The while Loop

In [ ]:
### While Loop Structure

# While <condition:
    #<sequence of statements>

## Infinite Loop

a Loop that remains true, hence you never escape out of the loop

The while Loop is also called an entry-control loop, because its condition is tested at the top of the loop.

## while True Loops

You can simplify the while structure and improve its readability by turning it into a while True

When using while True, you also can implement a break Statement